#header{

  ion-icon{
    margin-left: 2%;
    font-size: 30px;
    margin-right: 15%;
  }
}

ion-content{
  --ion-background-color: #ffffff;

  #content{
    display: flex;
    flex-direction: column;
    align-items: center;


  }
}
